.crs {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Landing */
.landing {
  position: relative;
  background: url(../img/homepage.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
}

.dark-over {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.landing-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* main */
.introduction {
  margin: 10%;
  display: grid;
  grid-template-areas:
    'header header'
    'vision mission';
  grid-gap: 1rem;
}

.header {
  text-align: center;
  justify-content: center;
  grid-area: header;
  margin-bottom: 3rem;
}

.title {
  color: #fa1616;
  margin-bottom: 2rem;
}

.vision {
  grid-area: vision;
  text-align: center;
  justify-content: center;
  padding: 0.5rem;
}

.vision img {
  width: 100px;
  margin-bottom: 1rem;
  margin-bottom: 3rem;
}

.mission {
  grid-area: mission;
  text-align: center;
  justify-content: center;
  padding: 0.5rem;
}

.mission img {
  width: 100px;
  margin-bottom: 1rem;
  margin-bottom: 3rem;
}

/* contact */
.contact-crs {
  margin: 5%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-contact {
  margin-bottom: 2rem;
}

.footer {
  padding: 3%;
  align-items: center;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.copyright {
  font-size: 0.8rem;
  color: #eaf6f6;
}
